.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
  }
  